@media only screen and (min-width: 0em) {
  #products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1em;
    font-size: 3vw;
    gap: 1em;
  }
  #products .prod {
    position: relative;
    width: 48%;
    max-width: 15em;
    padding: 1em;
    background-color: #f1f1f1;
    -webkit-box-shadow: var(--box-shadow-two);
            box-shadow: var(--box-shadow-two);
  }
  #products .prod h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  #products .prod img {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
  }
  #products .prod p {
    font-size: 1em;
  }
  #products .prod a {
    text-decoration: none;
    background-color: blue;
    width: auto;
    position: absolute;
    right: 1em;
    bottom: 1em;
    color: white;
    width: 5em;
    text-align: center;
    height: 2em;
    line-height: 2;
    border-radius: 2em;
    font-size: .9em;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    cursor: pointer;
  }
  #products .prod a:hover {
    opacity: .8;
  }
}
@media only screen and (min-width: 768px) {
  #products {
    font-size: 1.2vw;
  }
  #products #prod {
    width: 50%;
  }
}
@media only screen and (min-width: 1300px) {
  #products {
    font-size: inherit;
  }
}
